<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>菜鸟教程(runoob.com)</title>
<script type="text/javascript" src="__H-UI-ADMIN-V2.5__/lib/jquery/1.9.1/jquery.min.js"></script>
<link href="__STATIC__/video/css/video-js.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/video/js/video.min.js"></script>
<!-- <script src="//api.html5media.info/1.2.2/html5media.min.js"></script> -->
</head>
<body>


<!-- <video width="320" height="240" controls="controls">
	<source src="/uploads/{$info.video}" type="video/mp4" />
	<source src="movie.ogg" type="video/ogg" />
	<source src="movie.webm" type="video/webm" />
	<object data="/uploads/{$info.video}" width="320" height="240">
		<embed src="movie.swf" width="320" height="240" />
	</object>
</video> -->

<video id="example_video1" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="none" width="640" height="264"
      poster="http://video-js.zencoder.com/oceans-clip.png"
      data-setup="{}">
    <source src="/uploads/{$info.video}" type='video/mp4' />
    <source src="http://视频地址格式2.webm" type='video/webm' />
    <source src="http://视频地址格式3.ogv" type='video/ogg' />
    <track kind="captions" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    <track kind="subtitles" src="demo.captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
</video>

<script type="text/javascript">
    var myPlayer = videojs('example_video1');
    videojs("example_video1").ready(function(){
        var myPlayer = this;
        myPlayer.play();
    });
</script>

</body>
</html>